body {
    background-color: lightblue;
         }
tr {
    text-align: center;
        }
table {
    border: 0;
    align-content: center;
    width: 50%;
           }
ul {
    color: blue;
    font-style: bold
        }

