body {
    background-color: lightblue;
         }
th, td, tr {
    padding: 5px;
    text-align: center;        }
td {
    font-style: italic;
    }
table {
    border: 0;
    text-align: center;
    align-content: center;
    width: 50%;
           }
ul {
    color: blue;
    font-style: bold;
    font-style: italic; 
    list-style-type: disc;
  
        }

